img{
	border-radius: 5px !important;
}
.col-md-3{
	margin: 30px !important;
}
p{
	font-weight: bold;
	font-size: 20px;
}
#navbar{
	background-color: black;
}
li{
	color: white;
	list-style-type: none;
	display: inline-block;
	margin-left: 30px !important;
}
#nav-elements{
	text-align: center;
	padding: 10px;
}
#title{
	font-size: 30px;
}
#footer{
	height: 89px;
    width: 100%;
    background-color: #633a3a;
    color: white;
    line-height: 17px;
    text-align: center;
}
.pf1{
	 padding-top: 23px;
}
